<!DOCTYPE html>
<html>
  <head>
    <title>My Map</title>
    <meta charset="utf-8" />
    <style>
      #map {
        height: 400px;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <h1>My Map</h1>
    <div id="map"></div>
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js"></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css"
      rel="stylesheet"
    />
    <script>
      mapboxgl.accessToken =
        "sk.eyJ1IjoibXVzYTc4OSIsImEiOiJjbGY1ZDBzbzgwdHF5M3dvY3F4dGx4a210In0.l-i8jiaS8LWPyXj1ocQiCg";
      var longitude = YOUR_LONGITUDE; // Replace YOUR_LONGITUDE with the longitude output of your PredictedLocation.py code
      var latitude = YOUR_LATITUDE; // Replace YOUR_LATITUDE with the latitude output of your PredictedLocation.py code

      var map = new mapboxgl.Map({
        container: "map",
        style: "mapbox://styles/mapbox/streets-v11",
        center: [longitude, latitude],
        zoom: 10,
      });

      var marker = new mapboxgl.Marker()
        .setLngLat([longitude, latitude])
        .addTo(map);
    </script>
  </body>
</html>
